<!-- Modal -->
<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Author</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]='addAuthorForm' (ngSubmit)="addAuthor()">
                    <div class="form-group">
                        <label class="m-1" for="exampleInputEmail1">Author First Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            formControlName='fname'>
                    </div>
                    <div class="form-group">
                        <label class="m-1" for="exampleInputEmail1">Author Last Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            formControlName='lname'>
                    </div>
                    <div class="form-group">
                        <label class="m-1" for="exampleInputEmail1">Photo</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            formControlName='photo'>
                    </div>
                    <div class="form-group">
                        <label class="m-1" for="exampleInputEmail1">Date of Birth</label>
                        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            formControlName='dateOfBirth'>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="sumbit" class="btn btn-danger" (click)="close.click()"
                            [disabled]='addAuthorForm.invalid'>Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>