
<div class="login ">
  <div class="cont">

    <h3>Welcome To Admin Panel</h3>

    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <span>
        <i></i>
        <p></p>
        <input formControlName='adminName' class="t" type="text" placeholder="Enter Your Name ..."
          style="box-shadow: 10px 10px 5px black;">
      </span>
      <span style="display: inline;">
        <i></i>
        <p></p>
        <input formControlName='password' class="t" type="password" placeholder="******"
          style="box-shadow: 10px 10px 5px black;">
      </span>

      <button type="submit" style="box-shadow: 10px 10px 5px black;">Login</button>
    </form>
  </div>
</div>

