<app-admin-header></app-admin-header>

<div class="container-fluid">
    <div class="tab-content " id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-category-panel></app-category-panel>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-books-panel></app-books-panel>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <app-author-panel></app-author-panel>
        </div>
    </div>
</div>