i {
  margin-right: 30px;
  cursor: pointer;
}
.fa-plus {
  margin: 0px;
}
button {
  float: right;
  margin: 30px;
}
td,
th {
  width: 200px;
}
img {
  width: 190px;
  height: 180px;
}

.table {
color:firebrick;
font-size: larger;
font-weight: bolder;

}
div{
  background: url(https://thumbs.dreamstime.com/z/man-reading-book-next-to-wall-painted-man-reading-book-next-to-wall-painted-suggesting-imagination-chaotic-creative-112248497.jpg);
 
  
    }
  
