/* You can add global styles to this file, and also import other style files */
/* img{
    height: 180px;
}
div{
    
padding-top: 10px;

} */

/* div {
  padding-top: 10px;
} */
/* a{
  color: rgb(14, 12, 12);
  text-decoration: none;
  font-family: "Lucida Console",monospace;
}
a:hover {
  color: rgb(14, 12, 12);
  text-decoration: underline;

} */

body{
  background-color:beige;
  /* background-color:rgba(240, 234, 229, 0.836); */
  padding: 0;
  margin: 0;
}